//start header
header.header
	.inner
		.header__box
			.header__content-wrap
				a(href="#").rhomb.rhomb_works
					.rhomb__inner
					i.rhomb__works-ico
					span Our works
				a(href="#").rhomb.rhomb_what
					.rhomb__inner
					i.rhomb__what-ico
					span What we do
				.logo
				.rhomb.rhomb-1
				a(href="#").rhomb.rhomb_team
					.rhomb__inner
					i.rhomb__team-ico
					span Our team
				a(href="#").rhomb.rhomb_about
					.rhomb__inner
					i.rhomb__about-ico
					span About us
				.rhomb.rhomb-3
				.rhomb.rhomb-2
				a(href="#").rhomb.rhomb_get
					.rhomb__inner
					i.rhomb__get-ico
					span Get in touch

				a(href="#").rhomb.rhomb_small.rhomb_fb
					.rhomb__inner
					i.rhomb__fb-ico
				a(href="#").rhomb.rhomb_small.rhomb_tw
					.rhomb__inner
					i.rhomb__tw-ico
				a(href="#").rhomb.rhomb_small.rhomb_dr
					.rhomb__inner
					i.rhomb__dr-ico
				a(href="#").rhomb.rhomb_small.rhomb_goo
					.rhomb__inner
					i.rhomb__goo-ico
				a(href="#").rhomb.rhomb_small.rhomb_skype
					.rhomb__inner
					i.rhomb__skype-ico
				a(href="#").rhomb.rhomb_small.rhomb_vim
					.rhomb__inner
					i.rhomb__vim-ico



//end header