//start header
header.header
	.inner
		.header__burger
			span
			span
			span
		span.header__mob-heading Brand#[span aLO]KA.
		.mob-menu
			span.mob-menu__heading Brand#[span aLO]KA.
			span.mob-menu__close
			ul
				li: a(href="") What we do
				li: a(href="") About us
				li: a(href="") Services
				li: a(href="") Our goal
				li: a(href="") Our team
				li: a(href="") Latest posts
				li: a(href="") Our skills
				li: a(href="") Latest projects
				li: a(href="") Special offers
				li: a(href="") Get in touch



		.header__box
			.header__content-wrap
				a(href="#").rhomb.rhomb_works
					.rhomb__inner
					i.rhomb__works-ico
					span Our works
				a(href="#").rhomb.rhomb_what
					.rhomb__inner
					i.rhomb__what-ico
					span What we do
				.logo
				.rhomb.rhomb-1
				a(href="#").rhomb.rhomb_team
					.rhomb__inner
					i.rhomb__team-ico
					span Our team
				a(href="#").rhomb.rhomb_about
					.rhomb__inner
					i.rhomb__about-ico
					span About us
				.rhomb.rhomb-3
				.rhomb.rhomb-2
				a(href="#").rhomb.rhomb_get
					.rhomb__inner
					i.rhomb__get-ico
					span Get in touch

				a(href="#").rhomb.rhomb_small.rhomb_fb
					.rhomb__inner
					i.rhomb__fb-ico
				a(href="#").rhomb.rhomb_small.rhomb_tw
					.rhomb__inner
					i.rhomb__tw-ico
				a(href="#").rhomb.rhomb_small.rhomb_dr
					.rhomb__inner
					i.rhomb__dr-ico
				a(href="#").rhomb.rhomb_small.rhomb_goo
					.rhomb__inner
					i.rhomb__goo-ico
				a(href="#").rhomb.rhomb_small.rhomb_skype
					.rhomb__inner
					i.rhomb__skype-ico
				a(href="#").rhomb.rhomb_small.rhomb_vim
					.rhomb__inner
					i.rhomb__vim-ico



//end header