//start header
header.header
	.inner
		.header__box
			.header__left
				a(href="#").rhomb.rhomb__works
					.rhomb__inner
					i.rhomb__works-ico
					span Our works
				a(href="#").rhomb.rhomb__what
					.rhomb__inner
					i.rhomb__what-ico
					span What we do
				.logo
				.rhomb.rhomb-1
				a(href="#").rhomb.rhomb__team
					.rhomb__inner
					i.rhomb__team-ico
					span Our team
				a(href="#").rhomb.rhomb__about
					.rhomb__inner
					i.rhomb__about-ico
					span About us
				.rhomb.rhomb-3
				.rhomb.rhomb-2



//end header